/*Карточки
.card {
    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}


.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.container {
    padding: 2px 16px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; 
}


img {
    border-radius: 5px 5px 0 0;
}
*/
/* Верхнее меню */


/* Таблица */
.B {
    font-weight: bold;
    font-size: 1.1em;
    text-align: center;
}

.table_blur {
  background: #f5ffff;
  border-collapse: collapse;
  text-align: left;
  font-size: 1.07em;
}
.table_blur th {
  border-top: 1px solid #777777;	
  border-bottom: 1px solid #777777; 
  box-shadow: inset 0 1px 0 #999999, inset 0 -1px 0 #999999;
  background: linear-gradient(#9595b6, #5a567f);
  color: white;
  padding: 15px 20px;
  position: relative;
  text-align: center;
}
.table_blur th:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 25%;
  height: 25%;
  width: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255,255,255,.08));
}
.table_blur tr:nth-child(odd) {
  background: #ebf3f9;
}
.table_blur th:first-child {
  border-left: 1px solid #777777;	
  border-bottom:  1px solid #777777;
  box-shadow: inset 1px 1px 0 #999999, inset 0 -1px 0 #999999;
}
.table_blur th:last-child {
  border-right: 1px solid #777777;
  border-bottom:  1px solid #777777;
  box-shadow: inset -1px 1px 0 #999999, inset 0 -1px 0 #999999;
}
.table_blur td {
  border: 1px solid #e3eef7;
  padding: 15px 20px;
  position: relative;
  transition: all 0.5s ease;
}

body {
	margin:0;
}

table {
  margin-left: auto;
  margin-right: auto; /* Выравниваем таблицу по центру окна  */
}

a {
    text-decoration: none; /* Убираем подчёркивание  ссылок*/
    color: black;
   }
