.text {
    margin-left: auto;
    margin-right: auto;
    font: 20px/24px Tahoma, Verdana, Helvetica, Arial, sans-serif;
    text-align: center;
}


*{margin:0;padding:0}

body,input,select,select option,textarea{font-family:arial,sans-serif;font-size:14px;}

html{height:100%;background:#f7f7f7 url(../images/main_bg.jpg)  0 0 repeat;}

body{min-height:100%;line-height:1.4;color:#3d3d3d;position:relative;}

img{border:0; max-width:100%;}

button::-moz-focus-inner,input[type="button"]::-moz-focus-inner,input[type="submit"]::-moz-focus-inner{border:none;}

select:focus,input[type="text"]:focus,input[type="password"]:focus,textarea:focus{outline:none}
select option{padding-left:3px;}

table{border-collapse:collapse}

a:link,



.cfx{zoom:1}
.cfx:after{content:' ';clear:both;display:block;width:0;height:0;overflow:hidden;font-size:0}


.manual p{padding-bottom:1em;}
.manual h3{font-size:18px;font-family:'PT Sans Bold','trebuchet ms',arial,sans-serif;
color:#000;border-bottom:1px solid #fff;margin-bottom:17px;}
.manual h3:after{content:' ';display:block;padding-top:2px;height:0;overflow:hidden;font-size:0;background:#e7e7e7;
margin-top:2px;}
.manual ol{padding-bottom:1em;counter-reset:list;list-style:none;}
.manual ol>li:before{counter-increment:list;
content: counter(list) ") ";}
.manual ul{list-style:none;padding-bottom:1em;}
.manual ul>li{background:url(../images/ul.png) 9px 9px no-repeat;padding-left:22px;}
.manual ul>li+li{border-top:7px solid transparent;}
.manual h1{font-weight:normal;font-size:24px;line-height:28px;padding-bottom:15px;font-family:'PT Sans Bold','trebuchet ms',arial,sans-serif;color:#000;}



.main{min-width:990px; padding-bottom:10px;}


.inputText>i{display:block;border:1px solid #d0d0d0;zoom:1;padding:0px 12px;font-style:normal;overflow:hidden;
background:url(../images/input_text.png) 0 0 repeat-x;-moz-border-radius:5px;border-radius:5px;
-webkit-box-shadow:0 1px 0 #fff;
-moz-box-shadow:0 1px 0 #fff;
-ms-box-shadow:0 1px 0 #fff;
box-shadow:0 1px 0 #fff;}
.inputText>i>b{display:block;font-weight:normal;*margin:-1px 0 -1px 0;}
.inputText input{border:0;display:block;width:100%;background:transparent;height:32px;line-height:32px;color:#777;
text-shadow:1px 1px 0 rgba(255,255,255,0.5);font-size:13px;}

.select>i{display:block;border:1px solid #d0d0d0;zoom:1;padding:0px;font-style:normal;overflow:hidden;
background:url(../images/input_text.png) 0 0 repeat-x;-moz-border-radius:5px;border-radius:5px;
-webkit-box-shadow:0 1px 0 #fff;
-moz-box-shadow:0 1px 0 #fff;
-ms-box-shadow:0 1px 0 #fff;
box-shadow:0 1px 0 #fff;}
.select>i>b{display:block;font-weight:normal;*margin:-1px 0 -1px 0;zoom:1;overflow:hidden;}
.select select{border:0;display:block;width:100%;background:transparent;height:32px;line-height:32px;color:#777;
text-shadow:1px 1px 0 rgba(255,255,255,0.5);font-size:13px;zoom:1;}

.textarea>i{display:block;border:1px solid #d0d0d0;zoom:1;padding:6px 12px;font-style:normal;overflow:hidden;
    background:#f4f4f4 url(../images/input_text.png) 0 0 repeat-x;-moz-border-radius:5px;border-radius:5px;-webkit-box-shadow:0 1px 0 #fff;
    -moz-box-shadow:0 1px 0 #fff;-ms-box-shadow:0 1px 0 #fff;box-shadow:0 1px 0 #fff;}
.textarea>i>b{display:block;font-weight:normal;*margin:-1px 0 -1px 0;zoom:1;overflow:hidden;}
.textarea textarea{border:0;display:block;width:100%;background:transparent;color:#777;
text-shadow:1px 1px 0 rgba(255,255,255,0.5);font-size:13px;overflow:auto;resize:vertical;}


.head>.Back .Arrs>.in,
.head>.Front>.in,
.neck>.in,
.body>.in,
.foot>.in{max-width:980px;margin:0 auto;}
.head>.Back .Arrs>.in{max-width:1200px;}


header {
	text-align: center;
	}
	body.main-page header {
		/*padding-top: 137px;*/
	}
	

	header nav {
		background: #082254;
		background: -moz-linear-gradient(top,  #082254 0%, #5c91f2 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#082254), color-stop(100%,#5c91f2));
		background: -webkit-linear-gradient(top,  #082254 0%,#5c91f2 100%);
		background: -o-linear-gradient(top,  #082254 0%,#5c91f2 100%);
		background: -ms-linear-gradient(top,  #082254 0%,#5c91f2 100%);
		background: linear-gradient(to bottom,  #082254 0%,#5c91f2 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#082254', endColorstr='#5c91f2',GradientType=0 );	
		margin: 0 auto;
		padding: 13px 0;
		max-width: 1181px;
		}
		header ul {
			margin: 0;
			}
		header li {
			margin: 0 -1px;
			display: inline-block;
				}
		header li a {
			display: inline-block;
			padding: 0 16px;
			font-size: 20px;
			line-height: 25px;
			color: #FFF;
			text-decoration: none;
			font-weight: bold;
			font-family: "Bender-Bold";
			-webkit-transition: all 250ms ease;
			-moz-transition: all 250ms ease;
			-ms-transition: all 250ms ease;
			-o-transition: all 250ms ease;
			transition: all 250ms ease;
					}
					header li a:hover {
						opacity: 0.8
				}
				
.L {
	padding-top: 15px;
	}


.foot{background:#242424;position:absolute;left:0;right:0;bottom:0;min-width:990px;}
.foot>.in{padding:15px 30px 12px;}
.foot>.in>.B{margin-top:35px;border-top:1px solid #141414;}
.foot>.in>.B>.in{padding-top:30px;border-top:1px solid #3b3b3b;zoom:1;}
.foot>.in>.B>.in:after{content:' ';clear:both;display:block;width:0;height:0;overflow:hidden;font-size:0;}

.foot .Sponsors{overflow:hidden;}
.foot .Sponsors>.in{margin:0 0 0 -20px;}
.foot .Sponsors>.in>.Col{display:inline-block;*display:inline;zoom:1;vertical-align:top;width:33.33%;}
.foot .Sponsors>.in>.Col>.in{padding:0 0 0 20px;}
.foot .Sponsors .Title{padding-bottom:15px;color:#d7d7d7;}
.foot .Sponsors .Els{overflow:hidden;}
.foot .Sponsors .Els>.in{margin:-10px 0 0 -10px;}
.foot .Sponsors .Els>.in>.e{display:inline-block;*display:inline;zoom:1;vertical-align:top;margin:10px 0 0 10px;
background:#303030;width:125px;height:83px;-moz-border-radius:5px;border-radius:5px;position:relative;}
.foot .Sponsors .Els>.in>.e:hover{background:#1a1a1a;}
.foot .Sponsors .Els>.in>.e>.in{height:100%;width:100%;}
.foot .Sponsors .Els>.in>.e>.in>table{width:100%;height:100%;text-align:center;}
.foot .Sponsors .Els>.in>.e>.in img{display:block;margin:0 auto;}
.foot .Sponsors .Els>.in>.e>.Link{display:block;position:absolute;top:0px;right:0px;bottom:0px;left:0px;
background:url(../images/menu_v.png) -5000px 0 no-repeat;overflow:hidden;font-size:0;text-indent:-9999px;}

.foot .Copy{float:left;max-width:270px;font-size:11px;line-height:14px;color:#a8a8a8;
font-family:'Trebuchet MS',arial,sans-serif;text-shadow:0 -1px 0 #000;}
.foot .Age{float:right;padding-top:5px;}
.foot .Age td+td{padding-left:10px;line-height:14px;color:#a8a8a8;text-transform:uppercase;font-size:12px;
font-family:'Trebuchet MS',arial,sans-serif;font-weight:bold;text-shadow:0 -1px 0 #000;}
.foot .Menu{margin:0 290px;text-align:center;padding-top:15px;}
.foot .Menu>.e{display:inline-block;*display:inline;zoom:1;vertical-align:top;}
.foot .Menu>.e+.e{margin-left:30px;}
.foot .Menu a:link,
.foot .Menu a:visited{color:#fff;text-decoration:none;border-bottom:1px solid #fff;}
.foot .Menu a:hover{color:#fff;border-bottom-color:transparent;}

/* Таблица */
.B {
    font-weight: bold;
    font-size: 1.1em;
    text-align: center;
}

.table_blur {
  background: #f5ffff;
  text-align: left;
  font-size: 1.07em;
  padding-bottom: 150px;
  max-width: 1181px;
}
.table_blur th {
  box-shadow: inset 0 1px 0 #999999, inset 0 -1px 0 #999999;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  position: relative;
  text-align: center;
}
.table_blur th:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 25%;
  height: 25%;
  width: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255,255,255,.08));
}
.table_blur tr:nth-child(odd) {
  background: #ebf3f9;
}
.table_blur th:first-child {
  box-shadow: inset 1px 1px 0 #999999, inset 0 -1px 0 #999999;
}
.table_blur th:last-child {
  box-shadow: inset -1px 1px 0 #999999, inset 0 -1px 0 #999999;
}
.table_blur td {
  padding-top: 15px;
  padding-bottom: 15px;

  position: relative;
  transition: all 0.5s ease;
  word-wrap: break-word;
}

.smort{
	background: linear-gradient(#571508, #f06559);
}

.block{
  background: linear-gradient(#082254, #5c91f2);	
}


table {
  margin-left: auto;
  margin-right: auto; /* Выравниваем таблицу по центру окна  */
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tablinks {
    font-weight: bold;
    font-size: 1.2em;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 16px 20px;
    transition: 0.3s;
}


.tab button:hover {
    background-color: #ddd;
}


.tab button.active {
    background-color: #ccc;
}


.tabcontent {
    display: none;
    padding: 8px 14px;
    border: 1px solid #ccc;
    border-top: none;
}
/*Аккордион*/
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 19px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 17px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #008000; 
}

.panel {
    padding: 0 20px;
    display: none;
    background-color: white;
    overflow: hidden;
}















